{% extends "base.html" %}
{% block content %}
<h2>Meal Selections</h2>
<ul>
    {% for meal_selection in meal_selections %}
    <li>
        <h3>{{ meal_selection.date_selected }}</h3>
        <p>Lunch Main: {{ meal_selection.lunch_main.name }}</p>
        <p>Lunch Side: {{ meal_selection.lunch_side.name }}</p>
        <p>Dinner Main: {{ meal_selection.dinner_main.name }}</p>
        <p>Dinner Side: {{ meal_selection.dinner_side.name }}</p>
        <p>Confirmed: {{ meal_selection.confirmed }}</p>
        <a href="{% url 'meal_selection_update' meal_selection.id %}">Edit</a>
        <a href="{% url 'meal_selection_delete' meal_selection.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'meal_selection_create' %}">Create New Meal Selection</a>
{% endblock %}
