<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <title>Meal List</title>-->
 {% if title %}
   <title> {{title}} </title>
 {% else %}
   <title>Home</title>
 {% endif %}
</head>

<body>
    <h1>Meal List</h1>
    {% for meal in object_list %}
    <h2>{{ meal.name }}</h2>
    <p>Ingredients: {{ meal.ingredients }}</p>
    <p>Allergens: {{ allergens }}</p>
    {% endfor %}
</body>

</html>
