{% extends 'meals/base.html' %}
{% block content %}



<h1>Meal List</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 meal-section">
            <h2>Main Meals</h2>
            {% for main in mains %}
                <div class="card meal-card">
                    <div class="card-body">
                        <h5 class="card-title">{{ main.name }}</h5>
                        <p class="card-text"><strong>Ingredients:</strong> {{ main.ingredients }}</p>
                        <p class="card-text"><strong>Allergens:</strong> {{ main.allergens }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-md-6 meal-section">
            <h2>Side Dishes</h2>
            {% for side in sides %}
                <div class="card meal-card">
                    <div class="card-body">
                        <h5 class="card-title">{{ side.name }}</h5>
                        <p class="card-text"><strong>Ingredients:</strong> {{ side.ingredients }}</p>
                        <p class="card-text"><strong>Allergens:</strong> {{ side.allergens }}</p>
                    </div>
                </div>
            {% endfor %}
        

{% endblock content %}

<!--
-->